@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  box-sizing: border-box;
  font-family: "Roboto Mono", serif;
  height: 100vh;
  margin: 0;
  background-color: rgb(197, 197, 197);
  color: white;
  overflow: hidden;
}

.container {
  display: flex;
  flex-direction: column;
  padding: 32px;
  height: 100%;
  z-index: 1000;
}

.slider,
footer,
.countdown {
  display: none;
}

/* .header--title {
  text-transform: uppercase;
  font-size: 40px;
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 10px;
  max-width: 310px;
}

.element--title {
  margin-bottom: 10px;
}

.element-description {
  font-size: 14px;
} */

.countdown {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 48px;
  color: #89c6b4;
  text-align: right;
}

.building-layer {
  width: 90%;
  max-width: 900px;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  transition: all 0.6s linear;
  z-index: -1;
  bottom: 1200px;
}

/* Slider */
.slider {
  margin: 20px 0;
  height: 100%;
  width: 100%;
  max-width: 400px;
  position: relative;
}

.slider--input {
  -webkit-appearance: none;
  width: 100%;
  height: 10px;
  border-radius: 50px;
  background: #d7dcdf;
  outline: none;
}

.slider--input::-webkit-slider-thumb {
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #89c6b4;
  cursor: pointer;
  transition: #89c6b4 0.15s ease-in-out;
}

.chat {
  display: flex;
  flex-direction: column;
}

.message {
  font-size: 12px;
  margin-bottom: 10px;
  max-width: 80%;
}

.message--left {
  align-self: flex-start;
}

.message--right {
  align-self: flex-end;
  text-align: right;
}

.message-sender {
  font-size: 12px;
  margin: 0 10px;
}

.message--right .message-sender {
  color: #5e8f80;
}

.message-text {
  background-color: white;
  padding: 10px 15px;
  margin-top: 5px;
  color: #7f7f7f;
  border-radius: 50px;
  display: inline-block;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  text-align: center;
  font-size: 12px;
}
