@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  box-sizing: border-box;
  font-family: "Roboto Mono", serif;
  height: 100vh;
  margin: 0;
  background-color: #e7e5e7;
  color: white;
}

header {
  height: 60px;
  position: fixed;
  z-index: 1000;
  padding-top: 10px;
  text-align: center;
  width: 100vw;
}

/* Header */
header .year {
  color: white;
  font-size: 22px;
  font-weight: 500;
  padding: 2px 10px;
  background-color: #89c6b4;
  border-radius: 6px;
}

.arrow-right-container {
  cursor: pointer;
  position: fixed;
  right: calc(50% - 100px);
  top: 11px;
  /* display: flex; */
  justify-content: flex-end;
  align-items: center;
}

.arrow-right {
  width: 0;
  height: 0;
  border-top: 14px solid transparent;
  border-bottom: 14px solid transparent;
  border-left: 14px solid #8b878a;
}

main {
  max-width: 900px;
  margin: 0 auto;
}

.container {
  display: flex;
  flex-direction: column;
  padding: 60px 32px 32px;
  height: 100%;
  max-width: 664px;
  margin: 0 auto;
  overflow-y: auto;
}

.slider,
.element,
.arrow-right-container,
footer {
  display: none;
}

.button-container {
  display: none;
  flex-direction: column;
  margin-top: 40%;
  align-self: center;
  color: #8b878a;
  gap: 10px;
  align-items: center;
  cursor: pointer;
}

button {
  cursor: pointer;
  border-radius: 50px;
  background-color: #89c6b4;
  border: 0;
  width: 25px;
  padding: 25px 25px;
  /* transition: all 1s ease-in-out; */
}

/* Slider */
.slider {
  margin: 40px 0 20px;
  height: 100%;
  width: 100%;
  position: relative;
  max-width: 300px;
  align-self: center;
}

.slider--input {
  -webkit-appearance: none;
  width: 100%;
  height: 10px;
  border-radius: 50px;
  background: #8b878a;
  outline: none;
}

.slider--input::-webkit-slider-thumb {
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #89c6b4;
  cursor: pointer;
  transition: #89c6b4 0.15s ease-in-out;
}

/*  Chat */
.chat {
  display: flex;
  flex-direction: column;
}

.message {
  font-size: 14px;
  margin-bottom: 10px;
  max-width: 85%;
}

.message--left {
  align-self: flex-start;
}

.message--right {
  align-self: flex-end;
  text-align: right;
}

.message-sender {
  font-size: 12px;
  margin: 0 10px;
  font-weight: 600;
}

.message--left .message-sender {
  color: #8b878a;
}

.message--right .message-sender {
  color: #89c6b4;
}

.message-text {
  background-color: white;
  padding: 10px 15px;
  margin-top: 5px;
  color: #8b878a;
  border-radius: 6px;
  display: inline-block;
  position: relative;
  max-width: 250px;
  word-wrap: break-word;
  white-space: pre-wrap;
}

.message--left .message-text {
  border-top-left-radius: 0;
}

.message--right .message-text {
  border-top-right-radius: 0;
  text-align: left;
}

.message--left .message-text::after {
  content: "";
  position: absolute;
  top: 0;
  left: -11px;
  width: 0;
  height: 0;
  border-bottom: 12px solid transparent;
  border-right: 12px solid white;
}

.message--right .message-text::after {
  content: "";
  position: absolute;
  top: 0;
  right: -11px;
  width: 0;
  height: 0;
  border-bottom: 12px solid transparent;
  border-left: 12px solid white;
}

.message--dark .message-text {
  background-color: #a09b9f;
  color: white;
}

.message--dark.message--left .message-text::after {
  border-right: 12px solid #a09b9f;
}

.message--dark.message--right .message-text::after {
  border-left: 12px solid #a09b9f;
}

/* Loading message */
.line {
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 6px;
  background-color: #7f7f7f;
  margin: 0 2px 5px;
}

.message--dark .line {
  background-color: white;
}

.message-text--loading .line:nth-last-child(1) {
  animation: loading 0.8s 0.1s linear infinite;
}
.message-text--loading .line:nth-last-child(2) {
  animation: loading 0.8s 0.2s linear infinite;
}
.message-text--loading .line:nth-last-child(3) {
  animation: loading 0.8s 0.3s linear infinite;
}

@keyframes loading {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(0, 8px);
  }
  100% {
    transform: translate(0, 0);
  }
}

/* Building */
.building-layer {
  width: 90%;
  max-width: 600px;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  transition: all 1s linear;
  z-index: -1;
  bottom: 1200px;
}

footer {
  position: fixed;
  bottom: 10px;
  left: 0;
  width: 100%;
  text-align: center;
  font-size: 12px;
  color: #8b878a;
}
